<!DOCTYPE html>
  <!-- state.html -->
  <!-- 2020-09-30  -->
   <html lang="en">
   <head>
      <title>blinkt server v7</title>
   </head>
   <body>
     <div id='state_id' ></div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

      <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on( 'connect', function() {
            console.log('connected' )
          }
        )

        socket.on( 'state', function( state_reply ) {
            console.log( state_reply )
            $( '#state_id' ).text( state_reply )
          }
        )

      </script>
  </body>
</html>
